#world {
	box-sizing: border-box;
	border: 1px solid red;
	width: 602px;
}

#world::after {
	content: "";
	display: table;
	clear: both;
}

.dead, .alive {
	background-color: #000;
	box-sizing: border-box;
	float: left;
	height: 10px;
	width: 10px;
	will-change: background-color;
}

.alive {
	background-color: lime;
	border: 1px solid red;
}
